header h1{
    color:white;
    text-shadow: 8px 0px 10px black;
    font-size: 80px;
}
header p{
    color: white;
    text-shadow: 8px 0px 10px black;
    font-size: 30px;
}

header img{
    object-fit: cover;
}

.overlay{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
}

main h2{
    font-size: 35px;
}
main .texto{
    font-size: 25px;
    background-color: rgb(230, 230, 230);
    padding: 30px;
    border-radius: 15px;
    transition: .50s
}

main .texto:hover{
    background-color: rgb(187, 186, 186);
}

/* main .subtitulo-ln{
    all:unset;
    font-size: 20px;
}
main .subtitulo-ln:hover{
    all:unset;
    font-size: 20px;
}

main .subtitulo-ln{
    all:unset;
    font-size: 20px;
} */

main ul{
    padding: 30px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
}

@media(max-width: 360px){
    
    header h1{
        font-size: 40px;
    }
    header p{
        font-size: 15px;
    }

    main h2{
        font-size: 28px;
    }
    main p{
        font-size: 18px;
    }
}