header .text-center{
    animation: appear 1s ease-in-out;
}
header h1{
    color:white;
    text-shadow: 8px 0px 10px black;
    font-size: 80px;
}
header p{
    color: white;
    text-shadow: 10px black;
    font-size: 30px;
}

header img{
    object-fit: cover;
}

.overlay{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 90%);
}

a button:hover{
    animation: pulse 5s ease-in-out infinite;
}

main h2{
    font-size: 35px;
}
main .texto{
    font-size: 25px;
    background-color: rgb(230, 230, 230);
    padding: 30px;
    border-radius: 15px;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

main .texto:hover{
    background-color: rgb(187, 186, 186);
}


main ul{
    padding: 30px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
}


.card-body{
    background-color: rgb(230, 230, 230)
}

.card{
    transition: 0.5s;
    animation: appear 1s ease-in-out;
      animation-timeline: view();
      animation-range: entry 0;
}

.card:hover{
    transform: scale(1.20);
    z-index: 1;
}
.card-body:hover{
    background-color: rgb(187, 186, 186);
}

.card i{
    font-size: 50px;
}
.card h3{
    font-size: 13px;
}

.img-project{
    width: 100%;
    height: 300px;
    object-fit:cover;
    object-position: center;
}

#talktome{
    color: white;
    background-color: rgb(85, 85, 85);
}

form input{
    background-color: rgb(85, 85, 85);
    border:0;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}

form textarea{
    border: 0;
    background-color: rgb(85, 85, 85);
}

a.contact-button{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 100px;
    transition: 0.3s;

    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0;
}
a.contact-button:hover{
    color: white;
    transform: scale(1.20);
}
dialog{
    animation: appear 0.30s ease-in-out;
}

/* animações */

@keyframes appear{
    0%{
        opacity: 0;
        scale: 0.5;
    }
    100%{
        opacity: 1;
        scale: 1;
    }
}

@keyframes pulse{
    0%, 100% {
        transform: scale(1);
    }
    50%{
        transform: scale(1.03);
        box-shadow: 3px 8px 10px black;

    }
}

/* configuracao de responsividade  para textos grandes */

@media(max-width: 360px){
    
    header h1{
        font-size: 40px;
    }
    header p{
        font-size: 15px;
    }

    main h2{
        font-size: 28px;
    }
    main p{
        font-size: 18px;
    }
}